<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant list app">
    <meta name="theme-color" content="#f39921">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icon/icon-192x192.png">
    <title>JuuRestaurant Apps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
</head>
<body>
<header class="app-bar">
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <div class="app-bar-menu">
        <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar-brand">
        <h1>JuuRestaurant</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar-navigation">
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li>
              <a target="_blank" href="https://github.com/juriiaahh">About Us</a>
            </li>
        </ul>
    </nav>
    
</header>
<main id="mainContent">
    
</main>
<footer>
    <p>Copyright © 2021 - JuuRestaurant Apps</p>
  </footer>
</body>
</html>
