* {
    padding: 0;
    margin: 0;
  }
   
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  a {
    text-decoration: none;
    display: inline-block;
    height: 44px;
    color: #444444;
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
  }
  /*
    Skip Content
  */
    
  .skip-link {
    position: absolute;
    display: block;
    width: 200px;
    top: -50px;
    left: 0;
    background-color: #a5146d;
    color: white;
    padding: 8px;
    z-index: 100;
  }

  .skip-link:focus {
    top: 0;
  }

  /*
    AppBar
  */
   
  .app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0px 5px 0px #a5146d;
  }
   
  .app-bar .app-bar-menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar-menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

   
  .app-bar .app-bar-brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar-brand h1 {
    color: #a5146d;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
  }
   
  .app-bar .app-bar-navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }
   
  .app-bar .app-bar-navigation.open {
    left: 0;
  }
   
  .app-bar .app-bar-navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 44px;
  }
   
  /*
    Main Content
  */
   
  main {
    flex: 1;
    margin: 0 auto;

  }

   
  .content {
    padding: 32px;
    min-height: 100%;
  }
   
  .content .content-heading {
    font-weight: normal;
    text-align-last: center;
    
  }
   
  .hero {
    padding: 30%;
    align-items: center;
    text-align: center;
    background-image: 
    linear-gradient(rgba(0, 0, 10, 0.5), rgba(0, 0, 30, 0.5)),
    url("/images/heros/hero-image_4.jpg");
    background-position: center;
    background-size: cover; 
    margin-bottom: 2em;   
    
  }
  

  .hero_inner {
      margin: 0 auto;
      max-width: 800px;
  }

  .hero_title {
      color: #a5146d;
      font-weight: 800;
      font-size: 26px;
  }

  .hero_tagline {
      color: white;
      margin-top: 16px;
      font-size: 18px;
      font-weight: 700;
  } 

  /*
    Restaurants
  */
   
  .restaurants {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  }
   
   
  /*
    Restaurant Item
  */
   
  .restaurant-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
   
  .restaurant-item__header {
    position: relative;
  }
   
  .restaurant-item .restaurant-item__header .restaurant-item__header__poster {
    width: 100%;
  }
   
  .restaurant-item .restaurant-item__header .restaurant-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
  }
   
  .restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
    margin-left: 10px;
  }
   
  .restaurant-item .restaurant-item__content {
    padding: 16px;
  }
   
  .restaurant-item .restaurant-item__content h3 {
    margin: 0 0 10px 0;
    text-align: center;
  }
   
  .restaurant-item .restaurant-item__content a {
    color: #000000;
    width: 120px;
    height: 44px;
  }
   
  .restaurant-item .restaurant-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
   
   
  /*
    Restaurant
  */
   
  .restaurant {
    padding: 32px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
  }
   
  .restaurant .restaurant__poster {
    width: 100%;
    max-width: 400px;
  }
  
  .restaurant .restaurant__info h4 {
    margin: 8px 0;
  }
   
   
  /*
    Footer
  */
   
  footer {
    padding: 16px;
  }
   
  footer p {
    text-align: center;
    color: #aaaaaa;
  }
   
  footer p a {
    color: #a5146d;
    text-decoration: none;
    width: 44px;
    height: 44px;
  }

  /*
   Like
  */

  .like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

